
/*
This is the css for the whole website, which is responsible for styling the website
https://developer.mozilla.org/en-US/docs/Web/CSS/Reference (used this list to find styling synatx)

- for all elements that were originally hidden, had to set their opacity to 0 and change it to 100 in javascript when showing it
	- this is why some code in javascript uses .hidden and some uses style.opacity and style.zIndex
*/


/*this imports the font found in google fonts, used throughout the website*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');


/*set the website to fit the screen with the background image*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

body {
	width: 100%;
	min-height: 100vh;
	background-image: url('https://cdn.wallpapersafari.com/81/88/pcZ1Ri.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

/*start page styling*/
.startpagetext {
	color: rgb(56, 48, 47);
	font-size: 50px;
	position: absolute;
	top: 250px;
	left: 0;
	right: 0;
}

#container {
	text-align: center;
}

/*https://www.w3schools.com/csS/css3_buttons.asp　to style buttons (general template for buttons used for majority of the buttons)*/
.buttons {
	border: none;
	border-radius: 20px;
	color: rgb(56, 48, 47);
	font-size: 30px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	transition-duration: 0.2s;
	box-shadow: 0 5px rgb(99, 44, 18);
}

.buttons:hover {
	color: rgb(252, 227, 215);
	background-color: rgb(222, 98, 40);
}

.buttons:active {
	box-shadow: 0 0px;
	transform: translateY(4px);
}

a {
	color: inherit;
	text-decoration: none;
}

#startbutton {
	background-color: rgb(191, 84, 34);
	position: absolute;
	top: 340px;
	padding: 5px 40px;
	font-size: 30px;
	font-weight: bolder;
	width: 200px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

/*main page styling*/
#backgroundbox {
	position: absolute;
	background-color: rgb(250, 229, 190);
	opacity: 80%;
	width: 90%;
	height: 90%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border-radius: 20px;
	display: inline-block;
	opacity: 0%;
}

#mainpagetitle {
	position: relative;
	top: 60px;
	margin: auto;
	text-align: center;
	color: rgb(56, 48, 47);
	z-index: 1;
	opacity: 0.0;
}

#infobutton {
	background-color: rgb(191, 84, 34);
	position: absolute;
	top: 60px;
	left: 85%;
	padding: 2px 17px;
	font-size: 23px;
	font-weight: 900;
	z-index: 1;
	opacity: 0.0;
}

.lessonbut {
	z-index: 1;
	width: 100px;
	height: 100px;
	transform: translate(-50%, 0);
	opacity: 1.0;
}

#l1button {
	position: absolute;
	top: 160px;
	left: 70%;
}

#l1buttoncomplete {
	position: absolute;
	z-index: -1;
}

#l2button {
	position: absolute;
	top: 250px;
	left: 50%;
}

#l2buttonstar {
	position: absolute;
	z-index: -1;
}

#l2buttoncomplete{
	position: absolute;
	z-index: -1;
}

#l3button {
	position: absolute;
	top: 340px;
	left: 30%;
}

#l3buttonstar {
	position: absolute;
	z-index: -1;
}

#l4button {
	position: absolute;
	top: 430px;
	left: 50%;
}

#l5button {
	position: absolute;
	top: 520px;
	left: 70%;
}

/*https://stackoverflow.com/questions/35990445/how-to-move-a-div-up-and-down-infinitely-in-css3
(animate the start arrow to move up and down)*/
#startarrow {
	position: absolute;
	z-index: 1;
	width: 160px;
	top: 55px;
	left: 58%;
	animation: MoveUpDown 1.5s linear infinite;
}

@keyframes MoveUpDown {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}

/*info page styling*/

#text{
	text-indent: 50px;
	font-size: 17px;
}

#text2{
	text-indent: 50px;
	font-size: 17px;
}

.infobox {
	position: absolute;
	top: 170px;
	color: rgb(56, 48, 47);
	line-height: 1.8;
	width: 75%;
	left: 0;
	right: 0;
	margin: auto;
}

/*https://www.tutorialstonight.com/css-toggle-switch-with-text (how to code a toggle switch)*/
.toggle {
	--width: 100px;
	--height: calc(var(--width)/4);
	position: absolute;
	top: 65px;
	left: 78%;
	display: inline-block;
	width: var(--width);
	height: var(--height);
	border-radius: var(--height);
	cursor: pointer;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}

.toggle input {
	display: none;
}

.toggle .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--height);
	background-color: rgb(237, 210, 183);
	transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: calc(var(--height));
	height: calc(var(--height));
	border-radius: calc(var(--height)/2);
	background-color: rgb(191, 84, 34);
	transition: all 0.4s ease-in-out;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
}

.toggle input:checked + .slider {
	background-color: rgb(221, 155, 90);
}
.toggle input:checked + .slider::before {
	transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
	top: 8px;
	left: 0;
	width: 100%;
	height: 100%;
	font-size: 17px;
	padding-top: 10px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
	content: attr(data-off);
	position: absolute;
	right: 5px;
	color: rgb(56, 48, 47);
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
	content: attr(data-on);
	position: absolute;
	left: 5px;
	color: rgb(56, 48, 47);
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
	opacity: 0;
}

.toggle input:checked~.labels::before {
	opacity: 1;
}

/*guide book styling*/

#home {
	position: absolute;
	background-color: rgb(191, 84, 34);
	top: 58px;
	left: 10%;
	font-size: 18px;
	padding: 5px 10px;
	font-weight: 900;
	opacity: 0%;
}

#guidebookb {
	position: absolute;
	top: 58px;
	right: 10%;
	font-size: 18px;
	padding: 5px 10px;
	font-weight: 900;
	background-color: rgb(191, 84, 34);
}

#guidebook1 {
	position: absolute;
	width: 75%;
	height: 70%;
	border-radius: 20px;
	background-color: rgb(244, 223, 180);
	border: 2px solid rgb(56, 48, 47);
	padding: 15px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 120px;
	color: rgb(56, 48, 47);
}

#guidebook2 {
	position: absolute;
	width: 75%;
	height: 70%;
	border-radius: 20px;
	background-color: rgb(244, 223, 180);
	border: 2px solid rgb(56, 48, 47);
	padding: 15px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	margin-top: 120px;
	color: rgb(56, 48, 47);
}

.h3title {
	position: absolute;
	color: rgb(146, 148, 13);
	top: 85px;

}

.topic {
	position: absolute;
	top: 115px;
	font-size: 22px;
}


.topic2 {
	position: absolute;
	font-size: 22px;
	left: 52%;
	top: 115px;
}

.verticalLine {
	position: absolute;
	top: 120px;
	left: 50%;
	border-left: 2px solid rgb(56, 48, 47);
	height: 380px;
}

.termseng {
	position: relative;
	color: rgb(56, 48, 47);
}

.termsjap {
	position: relative;
	color: rgb(112, 105, 104);
	font-size: 14px;
}

.response {
	text-align: right;
}

.organizeterms {
	position: absolute;
	top: 155px;
	width: 45%;
	text-align: left;

}

.convo {
	position: relative;
	margin-top: 10px;
	border-radius: 20px;
	border: 2px solid;
	padding: 8px;
}

.organizeterms2 {
	position: absolute;
	top: 155px;
	left: 52%;
	width: 45%;
	text-align: left;
}

.organizeterms3 {
	position: absolute;
	top: 145px;
	width: 45%;
	text-align: left;
}

.organizeterms4 {
	position: absolute;
	top: 145px;
	left: 52%;
	width: 45%;
	text-align: left;
}

#startlesson {
	background-color: rgb(191, 84, 34);
	position: absolute;
	top: 650px;
	right: 0;
	left: 0;
	margin: auto;
	width: 60%;
	font-size: 18px;
	padding: 5px 5px;
	font-weight: 900;
	opacity: 100%;
}

/*lesson styling*/

#basequestion {
	color: rgb(56, 48, 47);
	font-size: 30px;
	position: relative;
	top: 160px;
	text-align: center;
	font-weight: 900;
}

/*had to only use id instead of class to style these because javascript could only identify id so it is a little repetative*/
#op1 {
	border: 2px solid rgb(191, 172, 130);
	background-color: rgb(244, 223, 180);
	border-radius: 20px;
	color: rgb(56, 48, 47);
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 900;
	transition-duration: 0.2s;
	box-shadow: 0 2px rgb(191, 172, 130);
	width: 60%;
	height: 40px;
	position: relative;
	right: 0;
	left: 0;
	top: 200px;
	margin: auto;
	margin-top: 15px;
}

#op1:hover {
	background-color: rgb(230, 210, 170) !important;
}

#op1:focus {
	box-shadow: 0 0px;
	transform: translateY(2px);
	background-color: rgb(189, 182, 111) !important;
	color: rgb(64, 64, 12) !important;
	border-color: rgb(64, 64, 12) !important;
}

#op2 {
	border: 2px solid rgb(191, 172, 130);
	background-color: rgb(244, 223, 180);
	border-radius: 20px;
	color: rgb(56, 48, 47);
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 900;
	transition-duration: 0.2s;
	box-shadow: 0 2px rgb(191, 172, 130);
	width: 60%;
	height: 40px;
	position: relative;
	right: 0;
	left: 0;
	top: 200px;
	margin: auto;
	margin-top: 15px;
}

#op2:hover {
	background-color: rgb(230, 210, 170) !important;
}

#op2:focus {
	box-shadow: 0 0px;
	transform: translateY(2px);
	background-color: rgb(189, 182, 111) !important;
	color: rgb(64, 64, 12) !important;
	border-color: rgb(64, 64, 12) !important;
}

#op3 {
	border: 2px solid rgb(191, 172, 130);
	background-color: rgb(244, 223, 180);
	border-radius: 20px;
	color: rgb(56, 48, 47);
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 900;
	transition-duration: 0.2s;
	box-shadow: 0 2px rgb(191, 172, 130);
	width: 60%;
	height: 40px;
	position: relative;
	right: 0;
	left: 0;
	top: 200px;
	margin: auto;
	margin-top: 15px;
}

#op3:hover {
	background-color: rgb(230, 210, 170) !important;
}

#op3:focus {
	box-shadow: 0 0px;
	transform: translateY(2px);
	background-color: rgb(189, 182, 111) !important;
	color: rgb(64, 64, 12) !important;
	border-color: rgb(64, 64, 12) !important;
}

/*style the submit and next button, had to create new class because the button class doesn't fit*/
.greenbtn {
	background-color: rgb(189, 182, 111);
	font-size: 18px;
	position: absolute;
	top: 520px;
	left: 70%;
	padding: 7px 15px;
	transition-duration: 0.2s;
	box-shadow: 0 3px rgb(64, 64, 12);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	border-radius: 15px;
	border: 2px solid rgb(64, 64, 12);
}

.greenbtn:hover {
	color: rgb(252, 227, 215);
}

.greenbtn:active {
	box-shadow: 0 0px;
	transform: translateY(3px);
}

.hearts {
	position: absolute;
	width: 100px;
	height: 100px;
}

#life1{
	top: 500px;
	right: 56%;
}

#life2{
	top: 500px;
	right: 63%;
}

#life3{
	top: 500px;
	right: 70%;
}

#status {
	font-size: 30px;
	color: rgb(56, 48, 47);
	position: absolute;
	top: 520px;
	width: 200px;
	left: 44%;
	font-weight: 900;
	opacity: 0.0;
}

#nextbtn {
	padding: 7px 33px;
	z-index: -1;
}

#textbox {
	width: 60%;
	height: 60px;
	background-color: rgb(244, 223, 180);
	opacity: 0%;
	position: absolute;
	top: 280px;
	left: 0;
	right: 0;
	margin: auto;
	color: rgb(56, 48, 47);
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 900;
	text-align: center;
}

/*input box*/
#typedtext {
	position: absolute;
	zーindex: -1;
	opacity: 0%;
	left: 0;
	right: 0;
	margin: auto;
	top: 345px;
	width: 65%;
	height: 50px;
	padding-left: 10px;
	box-sizing: border-box;
	border: none;
	border-radius: 20px;
	background-color: rgb(250, 241, 225);
	font-size: 20px;
	color: rgb(56, 48, 47);
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

::placeholder {
	color: rgb(117, 113, 113);
}

#typedtext:focus{
	outline: none;
}

#options{
	position: absolute;
	opacity: 0%;
	left: 0;
	right: 0;
	margin: auto;
	top: 425px;
	width: 60%;
	height: 50px;
	border: 1px solid 'black';
	font-size: 18px;
	color: rgb(56, 48, 47);
	font-weight: 900;
	text-align: center;
}

#example {
	position: absolute;
	zーindex: -1;
	opacity: 0%;
	left: 0;
	right: 0;
	margin: auto;
	top: 250px;
	width: 65%;
	height: 50px;
	padding-left: 10px;
	box-sizing: border-box;
	border: none;
	font-size: 22px;
	color: rgb(56, 48, 47);
	text-align: center;
	font-weight: 900;
}

#container2{
	text-align: center;
}

#losetext{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 400px;
	width: 60%;
	height: 50px;
	color: rgb(56, 48, 47);
	font-weight: 900;
	text-align: center;
	opacity: 0.0;
	z-index: -1;
}

.endimg {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 60px;
	width: 450px;
	margin-bottom: 0px;
	opacity: 0.0;
	z-index: -1;
}

#arrow {
	position: absolute;
	z-index: -1;
	opacity: 0.0;
	width: 80px;
	top: 110px;
	left: 10%;
	animation: MoveUpDown 1.5s linear infinite;
}

/*the lesson starts invisible and under the desktop, but the opacity is affected by javascript when a lesson starts*/
#lesson {
	opacity: 0%;
}

#info{
	z-index: -1;
	opacity: 0%;
}


